*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8F8F8;
    font-family: "Poppins",sans-serif;
}

.navbar{
    position: fixed;
    width: 16%;
    height: 100vh;
    background-color: white;
}

.logo{
    padding-left: 30px;
    padding-top: 55px;
    padding-bottom: 65px;
}

.logo>a{
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: #131313;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 55px;
    padding-bottom: 65px;
}

.logo>a:hover{
    color: #013CC6;
}

.one{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 41px;
    text-decoration: none;
}

.one:hover{
    border-left: 3px solid #013CC6;
}
.noti{
    padding: 14px 14px;
    background-color: white;
    border-radius: 3px;
}

.one>span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #131313;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.one>span:hover{
    color: #013CC6;
}

.one>img{
    width: 24px;
    height: 24px;
    color: #131313;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.one>img:hover{
    color: #013CC6;
}
.two{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 41px;
    text-decoration: none;
    margin-top: 41px;
    transition: all 0.2s ease-in-out;
}

.two:hover{
    border-left: 4px solid #013CC6;
}

.two>span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #131313;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.two>span:hover{
    color: #013CC6;
}

.two>img{
    width: 24px;
    height: 24px;
    color: #131313;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.two>img:hover{
    color: #013CC6;
}

.helps{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 41px;
    padding-top: 110px;
    
}

.helps>a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: #131313;
    text-decoration: none;
}

.helps>a:hover{
    color: #013CC6;
}

/* main */

.main{
    width: 82%;
    margin-left: 17%;
    padding-top: 56px;
    padding-bottom: 33px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 14px 20px;
    background-color: white;
    width: 80%;
    border-radius: 4px;
}
.search-2{
    border: none;
    width: 80%;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
h1{
   padding-top: 44px;
   font-weight: 400;
   font-size: 24px;
   color: #000;
   padding-bottom: 24px;
}

.labells{
    display: flex;
    align-items: center;
    gap: 22px;
}


label{
    display: block;
    padding-bottom: 16px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}
.labell input{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    padding: 13px 66px 13px 24px;
    background-color: white;
    border: 2px solid rgb(238, 220, 220);
}




table {
  width: 100%;
  background-color: white;
  margin-top: 40px;
}

thead {
  background-color: rgb(255, 255, 255);
  padding-bottom: 29px;
}
td a{
    text-decoration: none;
}

thead th {
  text-align: left;
  padding: 12px;
  font-size: 14px;

}


tr{
    margin-bottom: 900px;
}
tbody td {
  padding: 12px;
  font-size: 14px;
  color: #555;
}

input[type="checkbox"] {
  cursor: pointer;
}


